.invisible
{
    visibility: hidden;
}

h2
{
    font-size: 2em;
    margin-top: 0;
    padding: 20px;
    text-align: center;
}

form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

#grp-opt-div
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.opt-div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 0px;
}

#col-ls-opt-div
{
    display: flex;
    flex-direction: column;
}

.col-opt-lab
{
    display: inline-block;
    width: 120px;
    padding: 5px;
}

.opt-ind-ln
{
    width: 200px;
}

.col-opt-but
{
    cursor: pointer;
    margin-right: 10px;
}

#col-nb-inp
{
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    font-family: arial;
}

#col-nb-inp:focus
{   
    box-shadow: 0 0 2px 5px #c7dfe8;
}

.lev-label
{
    background-color: white;
    cursor: pointer;    
    padding: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

#form-sub-div
{
    margin-top: 25px;
}

.level:checked + label
{
    background-color: #b9d0e8;
}

.error
{
    margin: 0;
    margin-left: 200px;
    color: red;
    font-style: italic;
}